@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:400,700');

/*Tag Stylings*/

html, body {
    background: rgba(255, 255, 255, 0);
    -webkit-app-region: drag;
}

body {
    margin: 0;
    background: none;
    font-family: 'Barlow Semi Condensed', sans-serif;
    overflow-y: hidden;
}

h1,h2,h3,h4,h5,h6 {
  letter-spacing: -1px;
  margin: 0;
}

.player {
    height: 0;
}


/*-- Song Info Display --*/

.player .poster {
    -webkit-app-region: drag;
    width: 360px;
    height: 200px;
    margin-bottom: 20px;
    background: none;
    color: #828181;
    background: #fff;
    font-size: 0.7em;
    box-shadow: rgba(0,0,0,0.3) 0 0 15px;

    text-align: center;
    z-index: -1;
    margin: 0 5%;
    border-radius: 10px 10px 0 0;
    position: relative;

    transition-duration: 0.5s;
    top: 0px;
    left: 20px;
}

/*Brings up Song info when hovering over app*/
/*#root:hover .player .poster, #root:hover #windowBar {*/
    /*top: 20px;*/
/*}*/

.poster p:first-child {
    margin: 15px 5px 5px 5px;
    font-weight: 400;
}

.poster #songTitle {
    padding: 0px 0 0 15px;
    position: relative;
    left: -10px;
    font-size: 1.3em;
    line-height: 120%;
    font-weight: 600;
    letter-spacing: 0px;

    max-height: 55px;
    overflow-y: hidden;
}

.poster #songTitle > i.fa-heart {
    margin: 0 10px;
    font-size: 0.95em;
    cursor: pointer;
}

.poster #songTitle > i.fas.fa-heart {
    color: #ff4c4c;
}

.poster #songTitle > i.far.fa-heart {
    color: #828181;
}

.poster #songArtist {
  font-size: 0.9em;
}

#songTime {
    font-size: 0.7em;
    font-weight: 400;
}

.poster .overlay {
    /*background: rgba(0,0,0,0.6);*/
    height: 110%;
    position: relative;
    z-index: 5;
    /*display: grid;*/
    /*grid-template-columns: 3fr 7fr;*/
    column-gap: 30px;
    text-align: left;
}

#songInfo {
    transition-duration: 0.7s;
    position: relative;
    top: 0;
}

.poster > .overlay > #songInfo .container {
    padding: 2px 20px;
    width: calc(100% - 40px);
}

#posterBG {
    width: 100%;
    height: 100%;
    /*background: #333;*/

    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;

    filter: blur(5px);
    background-size: cover;
    background-position-y: 50%;
}

#windowBar {
    text-align: right;
    padding: 0;

    position: fixed;
    right: 57px;
    top: 5px;
    font-size: 0.7em;
    transition-duration: 0.5s;
    color: #828181;
}

#windowBar i {
    padding: 5px 5px;
}

#windowBar .fa-times {
    border-radius: 0 9px 0 8px;
}

#windowBar .fa-window-minimize {
    font-size: 0.9em;
}


/*-- Song Seeker Bar --*/

#songSeek {
    display: grid;
    grid-template-columns: 30px 270px 30px;
    /*margin-top: -5px;*/
}

#songSeek p {
    font-size: 0.8em;
    margin: 11px 0;
    text-align: center;
}

.seeker {
    width: 90%;
    margin: 8px 5%;
}

.seeker > #seekBar {
    width: 100%;
    margin: 0;
    border-radius: 20px;

    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: rgba(0,0,0,0.2);
    outline: none;
    transition-duration: .2s;
    overflow: hidden;
    z-index: 20;
    position: relative;
    top: 0;
}

.seeker:hover  > #seekBar {
    height: 8px;
    top: 1px;
}

.seeker > #seekBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0px;
    height: 10px;
    box-shadow: -100vw 0 0 100vw #ff4c4c;
}

.seeker > #seekBar::-webkit-slider-thumb:after {
    content: " ";
    background: red;
    padding: 30px;
}


/*-- Control Stylings --*/

.player .controls {
    -webkit-app-region: drag;
    width: 400px;
    text-align: left;
    font-size: 1.5em;
    background: #ffffff;
    border-radius: 30px;
    padding: 10px 0;
    box-shadow: rgba(0,0,0,0.2) 0 0 20px;

    display: grid;
    grid-template-columns: 6fr 4fr;

    position: fixed;
    top: 150px;
    left: 25px;
    z-index: 10;
}

.player .controls .container {
    padding: 5px 15px;
    display: inline-flex;
}

#albumArt {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background-size: 200%!important;
    background-position-y: 60%!important;
    background-position-x: 50%!important;

    z-index: 20;
    position: absolute;
    top: -50px;
    left: 35px;

    box-shadow: 0 20px 30px rgba(0,0,0,0.5);
    transition-duration: 0.7s;
}

#albumArt.nullart {
    background-size: cover!important;
}

#albumOverlay {
    height: 130px;
    width: 130px;

    background-size: 100%!important;
    border-radius: 50%;
}

#albumOverlay > p {
    margin: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 7px;
    text-align: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 700;
    text-shadow: 0 0 3px rgba(0,0,0,0.8);

    position: relative;
    top: 22px;
}

.player .controls i {
    padding: 20px 25px;
    border-radius: 10px;
    transition-duration: 0.3s;
}

.player .controls i:hover {
    background: #e3e3e3;
    color: #fff;
}

.controls i:first-child, .controls i:last-child {
    color: rgba(0,0,0,1);
}

.controls i:first-child.limit, .controls i:last-child.limit {
    color: rgba(0,0,0,0.15);
}

/*-- Volume Bar --*/

#volumeBar {
    -webkit-app-region: no-drag;
    -webkit-appearance: none;
    background: none;
    width: 100%;

    position: relative;
    top: -2px;
    outline: none;
    opacity: 0;
}

#volumeSection .fa-volume-up {
    position: relative;
    left: 190px;
    top: 12px;

    font-size: 1.3em;
}

#volume-counterpart {
    text-align: right;
    width: 100px;
    float: right;
    position: relative;
    right: 35px;
}

#vol-playtime {
    height: 4px;
    background: lightgrey;
    position: relative;
    top: 16px;
    left: 2px;
    border-radius: 20px;
}

#vol-played {
    background: #ff4c4c;
    height: 100%;
    width: 0;
    border-radius: 20px;
}

/*-- Null Directory --*/

#nullDirectory {
    text-align: center;
}

#nullDirectory p {
    margin-top: 40px;
    color: darkgrey;
}

/*-- Settings Open --*/

#settings {
    background: #ffffff;
    box-shadow: rgba(0,0,0,0.4) 0 0 10px;
    padding: 10px 30px 30px 30px;
    position: fixed;
    z-index: 21;
    border-radius: 10px;
    width: calc(80% - 60px);
    margin: 0 10%;
    text-align: center;
    font-size: 1em;
    color: grey;

    opacity: 0;
    top: -400px;
    transition-duration: 0.5s;
}

#settings.open {
    opacity: 1;
    top: 0;
}

#settings.closed {
    opacity: 0;
    top: -400px;
}

#settings h1 {
    width: 80%;
    margin: 0 10% 20px 10%;

    font-size: 0.7em;
    color: darkgray;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgrey;
    text-transform: uppercase;
    letter-spacing: 0px;
    font-weight: 700;
}

#settings i.fa-times {
    position: relative;
    right: -140px;
    top: -5px;
    cursor: pointer;
}

#settings input {
    outline: none;
    border: none;
    background: #e3e3e3;
    border-radius: 10px;
    padding: 10px;
    color: darkgray;
    width: calc(100% - 10px);
    text-align: center;
    font-size: 0.6em;
}

#settings input::placeholder {
    color: rgba(0,0,0,0.3);
}

#settings p {
    font-size: 0.65em;
    line-height: 130%;
    width: 100%;
}

/*#settings .list-container {*/
    /*display: grid;*/
    /*grid-template-columns: 4fr 6fr;*/
/*}*/

#ctrl {
    height: 15px;
}

#settings button {
    background: #ff4c4c;
    color: #fff;
    border: none;
    padding: 5px 30px;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
}

#settings .list-container {
    margin: 10px 0;
}

/*# sourceMappingURL=style.css.map */
